<md-toolbar color="primary" class="mat-elevation-z6 fixed-toolbar">
  <!-- <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button> -->

  <a md-button routerLink="/home" routerLinkActive="active" href fxShow="false" fxShow.gt-sm>
    <md-icon class="toolbar-logo">home</md-icon>HOME
  </a>

  <a md-icon-button routerLink="/home" routerLinkActive="active" href fxShow="true" fxHide.gt-sm>
    <md-icon>home</md-icon>
  </a>

  <a md-button routerLink="/connect" routerLinkActive="active" href fxShow="false" fxShow.gt-sm>
    <md-icon class="toolbar-logo">device_hub</md-icon>CONNECT
  </a>

  <a md-icon-button routerLink="/connect" routerLinkActive="active" href fxShow="true" fxHide.gt-sm>
    <md-icon>device_hub</md-icon>
  </a>

  <a md-button routerLink="/forms" routerLinkActive="active" href fxShow="false" fxShow.gt-sm>
      <md-icon class="toolbar-logo">assignment</md-icon>FORMS
  </a>

  <a md-icon-button routerLink="/forms" routerLinkActive="active" href fxShow="true" fxHide.gt-sm>
    <md-icon>assignment</md-icon>
  </a>

  <span class="fill-remaining-space"></span>

  <a md-button href="https://github.com/SimonBiggs/quarc-services" fxShow="false" fxShow.gt-sm>
    <img class="toolbar-logo" src="/assets/img/github-circle-white-transparent.svg">SOURCE
  </a>

  <a md-icon-button  href="https://github.com/SimonBiggs/quarc-services" fxShow="true" fxHide.gt-sm>
    <img src="/assets/img/github-circle-white-transparent.svg">
  </a>

</md-toolbar>

<md-sidenav-container #container>

  <!-- <md-sidenav #sidenav>
    <h2>Scripted QA Forms</h2>
    <md-nav-list>
      <md-divider></md-divider>
      <a md-list-item routerLink="/home" routerLinkActive="active" href (click)="sidenav.close(); ">Home</a>
      <a md-list-item routerLink="/record" routerLinkActive="active" href (click)="sidenav.close()">Record results</a>
      <a md-list-item routerLink="/view" routerLinkActive="active" href (click)="sidenav.close()">View written results</a>
      <a md-list-item routerLink="/edit" routerLinkActive="active" href (click)="sidenav.close()">Create and edit forms</a>
      <a md-list-item routerLink="/trend" routerLinkActive="active" href (click)="sidenav.close()">Show trends</a>
      <md-divider></md-divider>
      <a md-list-item routerLink="/share" routerLinkActive="active" href (click)="sidenav.close()">Share forms</a>
      <md-divider></md-divider>
      <a md-list-item href={{sourceUrl}} (click)="sidenav.close()">Download webapp source</a>
      <a md-list-item href="https://github.com/SimonBiggs/scripted-forms" (click)="sidenav.close()">View source on GitHub</a>
      <md-divider></md-divider>
    </md-nav-list>
  </md-sidenav>

  <div class="primary-header-container">
    <h1 *ngIf="pageTitle" class="primary-header">{{pageTitle}}</h1>
  </div> -->

  <div class="content-frame">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
